In [1]:
import pandas as pd

In [6]:
ls

 Volume in drive C has no label.
 Volume Serial Number is DCAE-CE8D

 Directory of C:\Users\admin

01/12/2023  11:15 PM    <DIR>          .
01/12/2023  11:15 PM    <DIR>          ..
11/15/2022  05:25 AM    <DIR>          .conda
11/14/2022  08:00 AM                25 .condarc
11/14/2022  07:59 AM    <DIR>          .continuum
01/12/2023  11:04 PM    <DIR>          .ipynb_checkpoints
11/14/2022  08:01 AM    <DIR>          .ipython
11/14/2022  08:00 AM    <DIR>          .jupyter
12/16/2022  03:56 PM    <DIR>          __pycache__
11/08/2022  05:08 PM    <DIR>          3D Objects
11/12/2022  05:50 PM    <DIR>          anaconda3
12/08/2022  09:15 PM                77 Ankita.txt
12/15/2022  12:02 AM               201 anks.log
11/08/2022  05:08 PM    <DIR>          Contacts
11/27/2022  10:30 AM             8,294 decorator.ipynb
12/16/2022  03:41 PM    <DIR>          Desktop
12/16/2022  03:45 PM    <DIR>          Documents
01/12/2023  11:11 PM    <DIR>          Downloads
12/14/2022  07:39 PM             7,026 exception handling.ipynb
11/08/2022  05:08 PM    <DIR>          Favorites
12/03/2022  01:15 AM            17,336 function.ipynb
12/07/2022  11:54 AM            33,743 functions.ipynb
12/08/2022  09:15 PM                 0 google.txt
01/11/2023  01:08 PM             8,192 ineuron.db
12/08/2022  09:41 PM         2,649,876 iterator.ipynb
11/08/2022  05:08 PM    <DIR>          Links
12/16/2022  09:58 PM            15,263 logging.ipynb
11/27/2022  10:30 AM            25,173 loop,list.ipynb
01/09/2023  08:12 PM               589 mangodb.ipynb
01/10/2023  11:29 AM             8,903 mongodb.ipynb
11/08/2022  05:08 PM    <DIR>          Music
08/18/2022  02:53 PM    <DIR>          OneDrive
01/06/2023  04:06 PM            22,744 oops.ipynb
11/19/2022  11:37 PM            24,112 operators.ipynb
01/12/2023  11:15 PM            13,226 pandas.ipynb
01/11/2023  01:21 PM                 0 person.db
12/22/2022  01:10 PM    <DIR>          Pictures
12/16/2022  10:16 PM    <DIR>          PycharmProjects
01/12/2023  11:13 PM               165 sample.test.csv
11/08/2022  05:08 PM    <DIR>          Saved Games
11/08/2022  05:08 PM    <DIR>          Searches
01/11/2023  11:14 PM            16,290 sql lite.ipynb
12/14/2022  11:58 PM               603 test.log
12/14/2022  06:44 PM                15 test1.txt
12/16/2022  03:56 PM                 0 test2.py
11/14/2022  08:02 AM               850 this1.ipynb
11/14/2022  04:12 PM               589 Untitled.ipynb
11/17/2022  02:12 AM               589 Untitled1.ipynb
12/03/2022  03:17 PM               589 Untitled10.ipynb
12/04/2022  04:10 PM            10,135 Untitled11.ipynb
12/08/2022  12:43 PM               606 Untitled12.ipynb
12/09/2022  11:00 AM                72 Untitled13.ipynb
12/10/2022  04:33 PM             2,728 Untitled14.ipynb
12/16/2022  11:27 PM               321 Untitled15.ipynb
01/09/2023  08:11 PM               589 Untitled16.ipynb
01/11/2023  10:52 AM                72 Untitled17.ipynb
01/12/2023  11:04 PM             2,645 Untitled18.ipynb
01/12/2023  11:03 PM               724 Untitled19.ipynb
11/18/2022  03:08 AM             3,979 Untitled2.ipynb
11/18/2022  03:40 AM             6,599 Untitled3.ipynb
11/19/2022  06:35 PM             9,533 Untitled4.ipynb
11/20/2022  10:36 PM               589 Untitled5.ipynb
11/21/2022  05:53 PM                72 Untitled6.ipynb
11/27/2022  10:29 AM            25,173 Untitled7.ipynb
11/27/2022  09:03 PM            14,917 Untitled8.ipynb
11/28/2022  12:05 AM                72 Untitled9.ipynb
11/08/2022  05:08 PM    <DIR>          Videos
              44 File(s)      2,933,296 bytes
              23 Dir(s)  173,369,819,136 bytes free

In [9]:
pd.read_csv('sample.test.csv')

    name           emailid address  pin code   surname
0   anki  yetale@gmail.com    pune    234567    yetale
1  anuja  anki89@gmail.com    pine    357473     patil
2   sudh    anki@gmsil.com    pinr    789543  kulkarni

In [11]:
pd.read_csv('sample.test.csv',names=['shwetsa','shwet','shan'])

                        shwetsa     shwet      shan
name  emailid           address  pin code   surname
anki  yetale@gmail.com     pune    234567    yetale
anuja anki89@gmail.com     pine    357473     patil
sudh  anki@gmsil.com       pinr    789543  kulkarni

In [13]:
pd.read_csv('sample.test.csv',sep='@')

             name,emailid,address,pin code,surname
anki,yetale           gmail.com,pune,234567,yetale
anuja,anki89           gmail.com,pine,357473,patil
sudh,anki           gmsil.com,pinr,789543,kulkarni