In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({'col1' :[1,3,4,2,1],
             'co2':[35,45,56,53,67],
             'col3':"an kita ye ta le".split()
             })#convert list into dictionery

In [10]:
"ankita rajendra yetale".split()

['ankita', 'rajendra', 'yetale']

In [11]:
df

   col1  co2  col3
0     1   35    an
1     3   45  kita
2     4   56    ye
3     2   53    ta
4     1   67    le

In [15]:
df['col4'] = df['col3'].str[0]

In [16]:
df

   col1  co2  col3 col5 col4
0     1   35    an    a    a
1     3   45  kita    k    k
2     4   56    ye    y    y
3     2   53    ta    t    t
4     1   67    le    l    l

In [19]:
def test(a):
    return a**2

In [20]:
df['col4_4'] = df['col1'].apply(test)

In [21]:
df

   col1  co2  col3 col5 col4  col4_4
0     1   35    an    a    a       1
1     3   45  kita    k    k       9
2     4   56    ye    y    y      16
3     2   53    ta    t    t       4
4     1   67    le    l    l       1

In [22]:
#deriverd column for calculation

In [23]:
def test1(a):
    if a =='s':
        return 's'
    else:
        return 'z'

In [25]:
df['col6'] =df['col5'].apply(test1)

In [26]:
df

   col1  co2  col3 col5 col4  col4_4 col6
0     1   35    an    a    a       1    z
1     3   45  kita    k    k       9    z
2     4   56    ye    y    y      16    z
3     2   53    ta    t    t       4    z
4     1   67    le    l    l       1    z

In [27]:
df['col6_6'] =df['col5'].apply(lambda a :'s' if a == 's' else 'z')

In [28]:
df

   col1  co2  col3 col5 col4  col4_4 col6 col6_6
0     1   35    an    a    a       1    z      z
1     3   45  kita    k    k       9    z      z
2     4   56    ye    y    y      16    z      z
3     2   53    ta    t    t       4    z      z
4     1   67    le    l    l       1    z      z

In [29]:
df['col7'] = df['col3'].apply(len)

In [30]:
df

   col1  co2  col3 col5 col4  col4_4 col6 col6_6  col7
0     1   35    an    a    a       1    z      z     2
1     3   45  kita    k    k       9    z      z     4
2     4   56    ye    y    y      16    z      z     2
3     2   53    ta    t    t       4    z      z     2
4     1   67    le    l    l       1    z      z     2

In [31]:
import math

In [33]:
df['col8'] = df['co2'].apply(math.log)

In [34]:
df

   col1  co2  col3 col5 col4  col4_4 col6 col6_6  col7      col8
0     1   35    an    a    a       1    z      z     2  3.555348
1     3   45  kita    k    k       9    z      z     4  3.806662
2     4   56    ye    y    y      16    z      z     2  4.025352
3     2   53    ta    t    t       4    z      z     2  3.970292
4     1   67    le    l    l       1    z      z     2  4.204693

In [35]:
#numpy = numerical python
import numpy as np

In [36]:
l = ['ank',2,3,45,6]

In [38]:
type(l)

list

In [39]:
np.array(l)

array(['ank', '2', '3', '45', '6'], dtype='<U11')

In [40]:
np.array([4,5,6,7,2,2])

array([4, 5, 6, 7, 2, 2])

In [41]:
np.array([[23,45] , [20,95]])

array([[23, 45],
       [20, 95]])

In [49]:
a2 = np.array([1,2,3,4],ndmin = 4)

In [50]:
a2[0]

array([[[1, 2, 3, 4]]])

In [51]:
a2[0][0][0][0]

1

In [54]:
a = [2,3,4,2]
np.asarray(a)

array([2, 3, 4, 2])

In [55]:
np.asarray(np.mat(a))

array([[2, 3, 4, 2]])

In [56]:
np.mat(a)#matrix is subclass/part of array

matrix([[2, 3, 4, 2]])

In [57]:
#matrix has 2 two dimensional

In [59]:
np.fromfunction(lambda i , j: i==j, (3,2))

array([[ True, False],
       [False,  True],
       [False, False]])

In [96]:
a = np.fromfunction(lambda i , j ,z :i*j*z , (4,3,2))

In [101]:
a.reshape(4,2,1,3,1,1)

array([[[[[[0.]],

          [[0.]],

          [[0.]]]],



        [[[[0.]],

          [[0.]],

          [[0.]]]]],




       [[[[[0.]],

          [[0.]],

          [[0.]]]],



        [[[[1.]],

          [[0.]],

          [[2.]]]]],




       [[[[[0.]],

          [[0.]],

          [[0.]]]],



        [[[[2.]],

          [[0.]],

          [[4.]]]]],




       [[[[[0.]],

          [[0.]],

          [[0.]]]],



        [[[[3.]],

          [[0.]],

          [[6.]]]]]])

In [98]:
a

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 1.],
        [0., 2.]],

       [[0., 0.],
        [0., 2.],
        [0., 4.]],

       [[0., 0.],
        [0., 3.],
        [0., 6.]]])

In [74]:
a.size

27

In [77]:
a.ndim

3

In [78]:
a.shape#dimension

(3, 3, 3)

In [79]:
a

array([[[0., 0., 0.],
        [0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 1., 2.],
        [0., 2., 4.]],

       [[0., 0., 0.],
        [0., 2., 4.],
        [0., 4., 8.]]])

In [82]:
#dataframe is 2D array

In [83]:
a = np.fromfunction(lambda i , j  :i*j , (3,3))

In [84]:
a

array([[0., 0., 0.],
       [0., 1., 2.],
       [0., 2., 4.]])

In [85]:
pd.DataFrame(a)#conversion of array to dataframe

     0    1    2
0  0.0  0.0  0.0
1  0.0  1.0  2.0
2  0.0  2.0  4.0

In [86]:
np.random.rand(100,4)#generate values

array([[2.49895268e-01, 9.14098584e-02, 6.97655809e-01, 6.68084943e-01],
       [6.60606175e-01, 9.65841475e-03, 8.89095828e-01, 1.59259152e-01],
       [4.80121406e-01, 5.07096813e-01, 8.73524137e-01, 9.54048265e-01],
       [5.01123493e-01, 4.86415492e-01, 9.47237348e-02, 4.41970564e-01],
       [8.46140030e-01, 5.49606524e-01, 6.49777473e-01, 1.67133750e-01],
       [4.07588202e-01, 1.79280951e-01, 1.64723555e-01, 8.11615974e-01],
       [2.19901211e-01, 3.58245695e-01, 1.26292255e-01, 6.51966503e-01],
       [9.19019096e-01, 2.25082870e-01, 1.76893864e-01, 4.17232282e-01],
       [6.87923838e-01, 9.79624940e-01, 3.30995358e-01, 5.26114338e-01],
       [6.92923242e-01, 1.62661667e-01, 7.47975849e-01, 5.17875571e-01],
       [9.32724425e-01, 3.67477544e-01, 8.74388976e-01, 4.93421847e-01],
       [2.31955570e-01, 9.66275273e-02, 4.75779561e-01, 3.31582477e-01],
       [4.33984937e-01, 6.70726575e-01, 2.38606780e-02, 4.27733616e-01],
       [1.39347561e-02, 5.59548905e-01, 7.37143373e-01, 2.45055199e-01],
       [2.32618031e-01, 9.84582040e-01, 3.53622455e-01, 8.97372922e-01],
       [7.86256599e-01, 6.54041360e-01, 8.45572351e-01, 8.81816716e-01],
       [9.26435691e-01, 8.25483480e-01, 8.22213376e-01, 9.75306169e-01],
       [1.95411935e-01, 8.11515993e-01, 6.21437734e-01, 2.12860167e-01],
       [2.08356585e-01, 8.66668664e-01, 1.53484702e-01, 5.46326438e-01],
       [4.01135756e-01, 2.59948560e-01, 8.16537640e-01, 2.01886859e-02],
       [8.84347896e-01, 3.22679420e-01, 8.42687921e-01, 3.70468181e-01],
       [8.24537141e-01, 1.45755374e-01, 5.28493350e-02, 2.13773298e-01],
       [6.43897936e-01, 5.45247994e-02, 1.36277758e-01, 4.87226561e-01],
       [7.19432861e-01, 9.08999978e-01, 8.29113963e-01, 8.32174502e-01],
       [3.43665357e-01, 7.33728366e-03, 2.22126725e-01, 3.86239185e-01],
       [7.80484019e-01, 1.91255278e-01, 5.21041875e-01, 8.12381568e-01],
       [2.75729021e-01, 3.17608835e-01, 8.81261762e-01, 3.60335799e-01],
       [1.32995994e-01, 7.97426318e-01, 8.61323088e-01, 1.11629422e-01],
       [2.97352193e-01, 6.47449094e-01, 2.70501215e-01, 2.42471946e-01],
       [1.46713857e-01, 3.21503210e-01, 2.03030115e-01, 1.56191536e-01],
       [1.70243434e-01, 3.70192191e-01, 6.80219987e-01, 6.24018185e-01],
       [7.94396739e-04, 6.98274121e-01, 5.84241946e-02, 8.40525925e-01],
       [1.50016723e-01, 8.71871754e-01, 4.42350215e-01, 9.02319708e-01],
       [5.92558641e-01, 3.28061571e-01, 3.03967510e-01, 1.08095401e-01],
       [8.13609798e-01, 7.35414892e-01, 8.29166943e-01, 3.72633916e-01],
       [5.47224234e-01, 6.99617402e-01, 8.12027339e-02, 7.51923306e-01],
       [1.28906820e-01, 8.83847019e-01, 7.87027904e-01, 3.53203628e-01],
       [6.14738032e-01, 1.14602033e-01, 9.83808585e-01, 3.56329388e-01],
       [2.77368140e-01, 6.64285711e-02, 1.38087196e-01, 9.46450817e-01],
       [8.12362501e-02, 9.83761865e-01, 2.78133089e-01, 3.81173433e-02],
       [2.34228834e-01, 3.94032656e-01, 1.62838215e-01, 3.88077242e-01],
       [3.37510378e-01, 8.13858932e-01, 4.47290375e-01, 4.87824743e-01],
       [3.48883390e-01, 7.04197543e-01, 8.66816346e-01, 1.78576223e-01],
       [6.52518232e-01, 8.02067261e-01, 4.13912914e-01, 2.34419813e-01],
       [9.17508579e-01, 9.25798191e-02, 5.20339765e-01, 6.86062618e-01],
       [5.08830608e-01, 9.50530814e-01, 7.92914621e-01, 2.57010502e-01],
       [6.89275810e-01, 9.45372383e-01, 8.35306197e-01, 4.22916127e-01],
       [3.66394177e-01, 8.15006517e-01, 3.78824503e-01, 9.90215317e-01],
       [7.72055144e-01, 8.03205309e-01, 4.29541612e-01, 6.49943894e-01],
       [1.44509392e-01, 2.55027677e-01, 3.12184974e-01, 4.61481349e-01],
       [8.52159268e-01, 5.86012407e-01, 8.36891920e-02, 5.93973068e-01],
       [5.98519067e-01, 7.78918590e-01, 2.72194061e-01, 2.47450726e-01],
       [5.86647287e-01, 9.79616183e-01, 8.64718529e-01, 2.89378625e-01],
       [9.96591392e-01, 7.00157986e-01, 5.52355362e-01, 8.37700172e-01],
       [6.10384107e-01, 8.73430844e-01, 9.92528803e-01, 6.88244239e-01],
       [5.69288515e-01, 4.10479735e-01, 2.15668981e-01, 7.69882772e-01],
       [4.17795238e-01, 2.76249828e-01, 1.19071426e-01, 8.92325467e-03],
       [9.29664086e-01, 1.84837047e-01, 9.08675441e-01, 4.85834185e-01],
       [3.76154745e-01, 2.04068073e-01, 8.71758819e-02, 9.31803449e-01],
       [9.78874928e-01, 2.12332335e-02, 4.35785765e-01, 4.14656714e-01],
       [4.67687359e-01, 9.25792377e-01, 6.44786044e-01, 7.39200919e-01],
       [6.14216170e-01, 5.91721438e-01, 9.59351400e-01, 2.05488081e-01],
       [2.33195037e-01, 2.68043330e-01, 7.97374813e-01, 7.93453146e-01],
       [8.18643986e-01, 9.58024784e-02, 5.77428373e-01, 6.93607701e-01],
       [1.24121163e-01, 7.14202501e-01, 7.38880874e-01, 2.93553632e-01],
       [6.75030270e-02, 7.35335463e-01, 9.18560682e-01, 5.13205668e-01],
       [4.67487424e-01, 6.86920316e-01, 9.24344741e-01, 4.89802277e-02],
       [4.53454276e-01, 2.36450199e-01, 7.20807135e-01, 9.87637128e-01],
       [3.28505402e-01, 6.52258007e-01, 2.82325814e-01, 1.23181109e-01],
       [6.61893211e-01, 9.48511087e-02, 6.25783442e-03, 4.33727980e-01],
       [1.21899963e-01, 8.45245446e-01, 7.56774520e-01, 6.26666799e-01],
       [5.31595152e-01, 7.58006347e-02, 7.75482976e-01, 3.69886269e-01],
       [9.97604474e-01, 7.51252971e-01, 8.94041324e-01, 7.93551435e-01],
       [8.98937296e-01, 6.94763467e-01, 7.65112566e-01, 7.00318237e-03],
       [8.43732716e-01, 4.73711309e-01, 3.66391815e-01, 9.76949822e-01],
       [1.22373739e-02, 3.06473308e-02, 9.63869849e-01, 2.72113723e-01],
       [4.61488533e-01, 2.73580136e-01, 6.29204131e-01, 7.13802995e-02],
       [1.54000572e-01, 2.57455738e-01, 5.16931520e-01, 1.98819791e-01],
       [8.39776591e-01, 4.57688221e-01, 2.31421456e-01, 8.76562517e-01],
       [2.78253342e-01, 9.20088188e-01, 8.30606645e-02, 5.62933016e-01],
       [1.10387530e-01, 4.65141913e-01, 1.55668433e-02, 4.17545318e-01],
       [8.13324979e-01, 8.28282263e-01, 9.87645671e-01, 9.04135690e-01],
       [4.40698796e-01, 1.32853256e-01, 8.43900148e-01, 5.60386766e-01],
       [7.80422406e-01, 9.42133073e-01, 1.71708779e-01, 6.57086515e-01],
       [8.55932849e-02, 3.86096525e-02, 9.07701710e-01, 4.53179853e-01],
       [4.63079761e-01, 1.97659475e-01, 6.48899871e-01, 2.80768661e-01],
       [8.18322691e-01, 7.32933898e-02, 1.71416439e-01, 5.88999956e-01],
       [9.20804454e-01, 8.06785264e-01, 1.41811762e-01, 8.08880568e-01],
       [8.52720774e-01, 2.39436891e-01, 2.73579164e-01, 6.49862673e-01],
       [2.90080141e-01, 2.81389566e-01, 6.30603035e-01, 8.32692759e-01],
       [3.31113658e-01, 9.80898503e-01, 1.42933238e-01, 7.35296735e-01],
       [1.03726729e-01, 4.33046277e-01, 5.29868292e-02, 2.50667040e-01],
       [2.43281255e-01, 8.86963274e-01, 7.24073067e-01, 2.03346112e-01],
       [5.90983410e-01, 6.19931508e-01, 3.47072692e-01, 6.73827362e-01],
       [1.89807751e-01, 6.26131862e-01, 9.72364338e-01, 9.10595088e-01],
       [1.03486298e-01, 6.79926948e-01, 2.15526855e-01, 9.86145294e-01],
       [7.61480027e-01, 3.86904293e-02, 9.14766298e-01, 5.88630462e-01],
       [2.00819319e-01, 3.11620572e-01, 4.94571173e-01, 8.62210709e-01],
       [6.69459545e-01, 9.69840917e-01, 3.46389128e-01, 3.09823641e-01],
       [3.53978844e-01, 6.30720775e-02, 7.17965190e-01, 4.48311045e-01]])

In [87]:
np.random.randint(4,50)#generate random integer

24

In [89]:
np.random.randn(4,5)#generate normally distrubuted no

array([[ 0.47121529, -0.78033161, -1.25525642, -0.82620756, -0.00622823],
       [-0.21369689, -2.09915057, -0.55809141,  1.74863175,  0.46389545],
       [-1.08067166, -0.06075127, -0.58661147,  0.8195441 ,  0.06787968],
       [ 0.57721167, -0.0216094 , -0.42009396, -0.02980717,  0.31384526]])

In [90]:
pd.DataFrame(np.random.randn(4,5))

          0         1         2         3         4
0 -1.267641  0.136102 -0.781376  0.510202 -0.384349
1 -0.238171 -0.149251  2.267314  0.808744  1.646431
2  1.464876 -0.285174 -0.325374 -1.161804  0.514639
3 -0.386697  0.039259 -0.368903  1.275318 -1.112397

In [104]:
list(range(3,9,2))#jump of two

[3, 5, 7]

In [108]:
np.arange(4,10,.2)#floating step size

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [109]:
a1=np.arange(4,10,.2)

In [110]:
a1

array([4. , 4.2, 4.4, 4.6, 4.8, 5. , 5.2, 5.4, 5.6, 5.8, 6. , 6.2, 6.4,
       6.6, 6.8, 7. , 7.2, 7.4, 7.6, 7.8, 8. , 8.2, 8.4, 8.6, 8.8, 9. ,
       9.2, 9.4, 9.6, 9.8])

In [111]:
a1[1:4]

array([4.2, 4.4, 4.6])

In [112]:
arr = np.random.rand(4,5)

In [113]:
arr

array([[0.99229034, 0.99314422, 0.01615252, 0.53067454, 0.25756292],
       [0.14356779, 0.02306573, 0.15448119, 0.68484343, 0.81745132],
       [0.88876103, 0.44841474, 0.40646649, 0.87456465, 0.86759028],
       [0.18988509, 0.66782184, 0.30321769, 0.64850889, 0.89819805]])

In [114]:
arr[arr > .5]

array([0.99229034, 0.99314422, 0.53067454, 0.68484343, 0.81745132,
       0.88876103, 0.87456465, 0.86759028, 0.66782184, 0.64850889,
       0.89819805])

In [115]:
arr

array([[0.99229034, 0.99314422, 0.01615252, 0.53067454, 0.25756292],
       [0.14356779, 0.02306573, 0.15448119, 0.68484343, 0.81745132],
       [0.88876103, 0.44841474, 0.40646649, 0.87456465, 0.86759028],
       [0.18988509, 0.66782184, 0.30321769, 0.64850889, 0.89819805]])

In [116]:
arr[1:8 , 0:3]

array([[0.14356779, 0.02306573, 0.15448119],
       [0.88876103, 0.44841474, 0.40646649],
       [0.18988509, 0.66782184, 0.30321769]])